

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">MRN</th>
      <th scope="col">UserId</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">client Name</th>
      <th scope="col">Case</th>
      <th scope="col">Request Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
      <tr>
        <td>{{MRN}}</td>
        <td>{{UserId}}</td>
        <td> {{From}}</td>
        <td>{{To}}</td>
        <td> {{FullName}}</td>
        <td> {{Case}}</td>
        <td> {{RequestDate}}</td>
      </tr>

    {{else}}
      <b><i><p style="color: red ; text-align: center; padding: 10px;">Such
            client is not found in the system!
          </p></i></b>
    {{/each}}
  </tbody>
</table>