<html lang="en">
  <head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
   
    <link rel="stylesheet" href="/assets/css/{{style}}" />
      <link rel="stylesheet" href="/css/sidebars.css" />
      {{#if validate}}
       <link rel="stylesheet" href="/css/{{validate}}" />
       {{/if }}
    {{! <link rel="stylesheet" href="/js/index.js"> }}
    <link rel="shortcut icon" href="/assets/images/fav.jpg">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    {{!-- <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  </head>
  <body>
    
   
      {{{body}}}
   

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/validate.js"></script>

{{#if script}}
   <script src="/js/{{script}}"></script>
{{/if}}

 
  </body>
</html>