     {{> header}}
 <div class="page">
    {{> sidebar}}
    <div class="content" style="padding-top:50px ; font-family: 'Times New Roman', Times, serif;">
      <div class="container-fluid p-5 mt-2" style="min-height: 560px;">
       <div class="col-md-12" style="margin-bottom:10px ; border-bottom: 1px solid blue;">
           <nav class="navbar">
            <div class="container-fluid mt-3">
                <form class="d-flex" action= '/searchClassifying' method="post">
                    <input class="form-control shadow-none me-2" name="mrn" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success mx-3" type="submit">Search</button>
                </form>
            </div>
        </nav>
        </div>
     
       <h1 class="p-2" style="text-align: center ; color: rgb(41, 197, 158);">Classifying History</h1>
        <div class="row" style="margin-bottom: 5px;">
             
             {{#each result}}
              <div class="col-6" style="border: 1px solid blue;">
                <table class="table  table-borderless table-sm">
                  <thead>
                    <th colspan="2">classifying history</th>
                  </thead>
                  <tbody>
                   <tr>
                    <td>MRN:</td>
                     <td style="border-bottom:1px solid rgb(11, 4, 4) ;"> {{MRN}}</td>
                   </tr>
                   <tr>
                    <td>Client fullName:</td>
                    <td style="border-bottom:1px solid rgb(0, 0, 0) ;">{{'client.first_name'}} {{'client.lats_name'}} {{'client.Grand_Father_name'}}</td>
                   </tr>
                   <tr>
                    <td>User Id:</td>
                     <td style="border-bottom:1px solid rgb(11, 4, 4) ;"> {{UserId}}</td>
                   </tr>
                    <tr>
                   <td>date of visit:</td>
                   <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{Date}}</td>
                   </tr>
                   <tr>
                     <td>previous_stillbirth:</td>
                     <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{previous_stillbirth}}</td>
                   </tr>
                   <tr>
                    <td>spontaneous_abortion:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{spontaneous_abortion}}</td>
                   </tr>
                   <tr>
                    <td>bw_lt_2500g:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{bw_lt_2500g}}</td>
                   </tr>
                   <tr>
                    <td>bw_gt_4000g:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{bw_gt_4000g}}</td>                 
                   </tr>

                   <tr>
                    <td>last_pregnancy_eclampsia:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{last_pregnancy_eclampsia}}</td>                 
                   </tr>

                   <tr>
                    <td>previous_surgery:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{previous_surgery}}</td>                 
                   </tr>

                   <tr>
                    <td>multiple_fetus:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{multiple_fetus}}</td>                 
                   </tr>
                   <tr>
                    <td>age_lt_16_year:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{age_lt_16_year}}</td>                 
                   </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-6" style="border: 1px solid blue;">
                <table class="table  table-borderless table-sm">
                  <thead>
                    <th colspan="2">classifying history</th>
                  </thead>
     
                 <tbody>
                  
                  <tr>
                    <td>age_gt_40_year:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{age_gt_40_year}}</td>                 
                   </tr>
                   <tr>
                    <td>isoimmunization_Rh:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{isoimmunization_Rh}}</td>
                   </tr>
                   <tr>
                    <td>vaginal_bleeding:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{vaginal_bleeding}}</td>
                   </tr>
                   <tr>
                    <td>pelvic_mass:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{pelvic_mass}}</td>
                   </tr>
                   <tr>
                   <td>diastolic_bp:</td>
                   <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{diastolic_bp}}</td>
                   </tr>
                   <tr>
                   <td>diabetes_mellitus:</td>
                   <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{diabetes_mellitus}}</td>
                   </tr>
                   <tr>
                  <td>renal_disease:</td>
                   <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{renal_disease}}</td>
                   </tr>
                   <tr>
                  <td>cardiac_disease:</td>
                  <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{cardiac_disease}}</td>
                   </tr>
                   <tr>
                  <td>chronic_hypertention:</td>
                  <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{chronic_hypertention}}</td>
                   </tr>

                    <tr>
                  <td>substance_abuse:</td>
                  <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{substance_abuse}}</td>
                   </tr>
                   
                  <td>Physician role:</td>
                  <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{'user.role'}}</td>
                  </tr>
                  <tr>
                    <td>Physician Name:</td>
                     <td style="border-bottom:1px solid rgb(11, 4, 4) ;"> {{'user.first_name'}} {{'user.last_name'}}</td>
                   </tr>                 
                   
                 </tbody>
                </table>
              </div>
           {{ else}}
                  <p style="">No data is available</p>
                {{/each}}
       </div>

     </div>
      {{> footer}}
      {{> copy}} 
      </div>
   </div>
