
        {{> header}} 
    <div class="container mb-5">
        <div class="container p-5"> 
            {{#if client}}
            <form class="row g-3" action="/update/{{client.MRN}}" method="POST">
                <!-- facility name field -->
                <div class="col-md-4">
                    <label for="facility_name" class="form-label">Name of Facility</label>
                    <input type="text" class="form-control shadow-none" id="facility_name" name="facility_name" value="{{client.name_of_facility}}" required>
                  </div>
                  <!-- mrn field -->
                  <div class="col-md-4">
                    <label for="mrn" class="form-label" >Medical Record Number</label>
                    <input type="text" class="form-control shadow-none" id="mrn" name="mrn"  value="{{client.MRN}}" required>
                  </div>
                 <!-- registration date field -->
                  <div class="col-md-4">
                    <label for="date_of_reg" class="form-label">Date of Registration</label>
                    <input type="date" class="form-control shadow-none" id="date_of_reg" name="date_of_reg" value="{{client.date_reg}}" required>
                  </div>
                  <!-- first name field -->
                <div class="col-md-4">
                  <label for="fname" class="form-label">First name</label>
                  <input type="text" class="form-control shadow-none" id="fname" name="fname" value="{{client.first_name}}" required>
                </div>
                <!-- last name field -->
                <div class="col-md-4">
                  <label for="lname" class="form-label">Last name</label>
                  <input type="text" class="form-control shadow-none" id="lname" name="lname" value="{{client.lats_name}}" required>
                </div>
                <!-- grand father name field -->
                <div class="col-md-4">
                  <label for="gfname" class="form-label">Grand Father Name</label>
                    <input type="text" class="form-control shadow-none" id="gfname" name="gfname" value="{{client.Grand_Father_name}}" required>
                </div>
                <!-- age field -->
                <div class="col-md-4">
                  <label for="age" class="form-label">Age</label>
                  <input type="number" class="form-control shadow-none" id="age" name="age" value="{{client.Age}}" required>
                </div>
                <!-- sex field -->
                <div class="col-md-4">
                        <label for="gender" class="form-label">Sex</label>
                        <select class="custom-select shadow-none" id="gender" name="gender" value="{{client.Sex}}" required>
                          <option value="female" >Female</option>
                          <option value="male">Male</option>
                        </select>
                </div>
                <!-- email field -->
                <div class="col-md-4">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control shadow-none" id="email" name="email" value="{{client.Email}}">
                </div>
             <!-- phone field -->
                <div class="col-md-4">
                    <label for="phone" class="form-label">Phone No.</label>
                    <input type="tel" class="form-control shadow-none" id="phone" name="phone" value="{{client.Phone_no}}">
                  </div>
                <!-- region field -->
                  <div class="col-md-4">
                    <label for="region" class="form-label">Region</label>
                    <input type="text" class="form-control shadow-none" id="region" name="region" value="{{client.Region}}">
                  </div>
                <!-- city field -->
                  <div class="col-md-4">
                    <label for="city" class="form-label">Woreda/SubCity</label>
                    <input type="text" class="form-control shadow-none" id="city" name="city" value="{{client.Woreda}}" required>
                  </div>
              <!-- kebele field -->
                  <div class="col-md-4">
                    <label for="kebele" class="form-label">Kebele</label>
                    <input type="text" class="form-control shadow-none" id="kebele" name="kebele" value="{{client.Kebele}}" required>
                  </div>
                   <div class="col-md-4">
                   </div>
                   <div class="col-md-4">
                   </div>
                   <div class="col-md-4">
                   </div>
                   <div class="col-md-4">  
                  <input type="submit" value="Add Client" class="btn btn-reverse">
                   </div>
              </form>
              {{/if}}
              <!-- form ends here-->
        </div>
    </div>

  {{> footer}}