  <div class="page">
  {{> header }}
{{> hmis-sidebar}}
<div class="content" style="font-family: 'Times New Roman', Times, serif;">
<div class="div p-5" style="min-height: 520px;">
    <form action="/hmisAnalysis" method="POST">
        <div class="row">
        <div class="col-3">
            <label for="from"> From </label>
            <input type="date" name="from" id="from" class="form-control" required>
        </div>
        <div class="col-3">
            <label for="to">To</label>
            <input type="date" name="to" id="to" class="form-control" required>
        </div>
        <div class="col-3">
            <label for="ward">Ward</label>
            <select name="ward" id="ward" class="custom-select shadow-none">
                <option value="anc">Anc</option>
                <option value="delivery">Delivery</option>
                <option value="pnc">Pnc</option>
            </select>
        </div>
        <div class="col-3"> 
            ...<br>       
            <input type="submit" name="abc" value="view result" class="btn btn-outline-primary btn-sm m-2">
        </div>

        </div>
    </form>
<hr style="background-color: rgb(23, 154, 149);">
<div class="row">
    <div class="col-6"></div>
    <div class="col-6">
    
        <div class="col-4">
          <nav class="navbar">
            <div class="container-fluid">
              <button type="button" class="btn btn-success position-relative">
           <i class="fas fa-users"></i> &nbsp;{{ward}}
           <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
           {{count}}  
         </span>
            </button>
            </div>
             </nav>
        </div>
    </div>
      
</div>
    <table class="table  table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Facility Name</th>
                <th scope="col">Mrn</th>
                <th scope="col">Full Name</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">region</th>
                <th scope="col">woreda</th>
                <th scope="col">phone No</th>
                <th scope="col">TreatedBy</th>
              </tr>
            </thead>
            <tbody>
                {{#if user }}
                  {{#each user }}
                <tr>
                <th scope="row">{{'client.name_of_facility'}}</th>
                <td>{{'client.MRN'}}</td>
                <td>{{'client.first_name'}} {{'client.lats_name'}}</td>
                <td> {{'client.Age'}}</td>
                <td>{{'client.Sex'}}</td>
                <td>{{'client.Region'}}</td>
                <td>{{'client.Kebele'}}</td>
                <td>{{'client.Phone_no'}}</td>
                 <td>{{ 'user.first_name'}} {{ 'user.last_name'}} </td>
              </tr>
              {{else}}
          <b><i><p style="color: red ; text-align: center; padding: 10px;">No client is in the system! </p></i></b>
          {{/each}} 
            {{ else }}
          {{#each rows }}
             <tr>
                <th scope="row">{{name_of_facility}}</th>
                <td>{{MRN}}</td>
                <td>{{first_name}} {{lats_name}}</td>
                <td> {{Age}}</td>
                <td>{{Sex}}</td>
                <td>{{Region}}</td>
                <td>{{Kebele}}</td>
                <td>{{Phone_no}}</td>
                 <td>.....</td>
              </tr>
              {{else}}
       <b><i><p style="color: red ; text-align: center; padding: 10px;">No client is in the system! </p></i></b>
              {{/each }}
              {{/if }}
            </tbody>
          </table>
          <!-- Butt -->
</div>
{{> footer}}
{{> copy}}

</div>
</div>