
 {{> header}}
<div class="page">
 {{> hmis-sidebar}}
<div class="content" style="padding-top:100px;font-family: 'Times New Roman', Times, serif;">
<div class="container-fluid" style="min-height: 500px;">

    <form class="m-3" role="search" action= "/hmisUserSearch" method="post">              
        <div class="row">
            <div class="col-3">
                    <input class="form-control shadow-none me-2" type="search" name="users" placeholder="Search userIds" aria-label="Search">
             </div>
            <div class="col-3">
                    <select name="userSearch" class="custom-select shadow-none" id="userSearch">
                         <option value="#">select here </option>
                        <option value="admin">Admin</option>
                        <option value="doctor">Doctor</option>
                        <option value="hmis">HMIS Officer</option>
                        <option value="radiology">Radiology</option>
                        <option value="pharmacist">Pharmacist</option>
                        <option value="laboratory">Laboratory</option>
                        <option value="midwife">Midwife</option>
                        <option value="receptionist">Receptionist</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    
            </div>
            <div class="col-2">
             <button class="btn btn-outline-success mx-3" type="submit">Search</button>
             </div>
            <div class="col-4">
            <button type="button" class="btn btn-success position-relative">
            <i class="fas fa-users"></i> &nbsp;Total Health Workers
           <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
           {{count}}  
           </span>
            </button>
            </div>
        </div>
    </form>
     <hr style="background-color: rgb(23, 154, 149);">
        <table class="table  table-striped table-bordered">
            <thead>
              <tr>                
                <th scope="col">User id</th>
                <th scope="col">Full Name</th>
                <th scope="col">Age</th>
                <th scope="col">Sex</th>
                <th scope="col">user name</th>             
                <th scope="col">phone No</th>
                <th scope="col">department</th>               
                <th scope="col">role</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>

                {{#each user}}
              <tr>
                <th >{{user_id}}</th>
                <td>{{first_name}} {{last_name}}</td>
                <td> {{Age}}</td>
                <td>{{Sex}}</td>
                <td>{{user_name}}</td>               
                <td>{{Phone_no}}</td>
                <td>{{department}}</td>             
                <td>{{role}}</td>
                <td> {{Email}}</td>

</tr>

         {{else}}
          <b><i><p style="color: red ; text-align: center; padding: 10px;">No selected users  from the system!</p></i></b>
          {{/each}}
            </tbody>
        </table>
</div>
    {{> footer }}
    {{> copy }}
    </div>
    </div>