<div class="page">
   {{> header}}
   {{> receptionist-sidebar}}
<div class="content" style="padding:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
    <div class="container-fluid p-5 m-2">
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          {{#each result}}
          <p>{{messageType}}</p>
          <h5>{{fullName}}</h5>
          <p>{{Date}}</p>
          {{!-- <p> {{fullName} </p>
          <p> {{Date}}</p> --}}
        {{else}}

        <p>No Clients available</p>
          {{/each}}
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
</div>
{{> footer}}
</div>