<div class="page">
   {{> header}}
   {{> pharma-sidebar}}
<div class="content" style="padding:10px ; font-size: small; font-family: 'Times New Roman', Times, serif;">
    <div class="container-fluid p-5 m-2">
      <div class="row">
        <div class="col-md-4"></div>
     
      <div class="col-md-4">
          {{#each result}}
          <p>Medical Record Number:{{MRN}}</p>
          <h5>Prescriber ID:<a href="#">{{UserId}}</a></h5>
          <p>Date :{{Date}}</p>
          <p>Drug Name:{{DrugName}}</p>
          <h5>Dosage: {{Dosage}}</h5>
          <p>Route Taken: {{RouteTaken}}</p>
          <p>Frequency:{{Frequency}}</p>
        {{else}}

        <p>No Clients available</p>
          {{/each}}
        </div>
      </div>
    </div>
</div>
{{> footer}}
</div>
