 


     <h1 class="p-2" style="text-align: center ; color: rgb(41, 197, 158);">Prescription</h1>
        <div class="row" style="margin-bottom: 5px;">
             
             {{#each result}}
             <div class="col-3"></div>
              <div class="col-6" style="border: 1px solid rgb(41, 197, 158); margin-bottom: 15px; padding: 20px 1px;">
                <table class="table  table-borderless table-sm">
                  <thead>
                    <th colspan="2">Prescription</th>
                  </thead>
                  <tbody>
                   <tr>
                    <td>MRN:</td>
                     <td style="border-bottom:1px solid rgb(11, 4, 4) ;"> {{MRN}}</td>
                   </tr>
                   <tr>
                    <td>Client fullName:</td>
                    <td style="border-bottom:1px solid rgb(0, 0, 0) ;">{{'client.first_name'}} {{'client.lats_name'}} {{'client.Grand_Father_name'}}</td>
                   </tr>
                   <tr>
                    <td>User Id:</td>
                     <td style="border-bottom:1px solid rgb(11, 4, 4) ;"> {{UserId}}</td>
                   </tr>
                    <tr>
                   <td>prescription date:</td>
                   <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{Date}}</td>
                   </tr>
                   <tr>
                     <td>DrugName:</td>
                     <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{DrugName}}</td>
                   </tr>
                   <tr>
                    <td>Dosage:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{Dosage}}</td>
                   </tr>
                   <tr>
                    <td>RouteTaken:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{RouteTaken}}</td>
                   </tr>
                   <tr>
                    <td>Frequency:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{Frequency}}</td>                 
                   </tr>

                   <tr>
                    <td>AmountDispensed:</td>
                    <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{AmountDispensed}}</td>                 
                   </tr>
                   
                     
                  <td>Physician role:</td>
                  <td style="border-bottom:1px solid rgb(11, 4, 4) ;">{{'user.role'}}</td>
                  </tr>
                  <tr>
                    <td>Prescribed By:</td>
                     <td style="border-bottom:1px solid rgb(11, 4, 4) ;"> {{'user.first_name'}} {{'user.last_name'}}</td>
                   </tr> 
                  </tbody>
                </table>
              </div>
              <div class="col-3"></div>
           {{ else}}
                  <p style="">No data is available</p>
                {{/each}}
       </div>